<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--页面描述，用于搜索引擎收录-->
    <meta name="description" content="个人博客---学习与分享两不误"/>
    <!--页面关键词，用于被搜索引擎收录-->
    <meta name="keywords" content="博客，旅游，分享"/>
    <title>博客主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link href="css/angular.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="js/jquery/jquery1.9.1.min.js"></script>
    <script src="js/angular-js/angular.js"></script>
    <script src="js/angular-js/angular-route.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/functionJS/index.js"></script>
    <script src="js/bootstrap/skel.min.js"></script>
    <script src="js/bootstrap/util.js"></script>
    <script src="js/bootstrap/main.js"></script>
    <style>
       .modal{
           line-height: 2em;
           text-align: left;
           margin-left: 5%;
        }
        .close{
            height: 1em;
        }
       button{
           background-color: #e67e22 !important;
           /* width: auto !important;*/
       }
       .m {
           width: 960px;
           height: 400px;
           margin-left: auto;
           margin-right: auto;
       }
    </style>
</head>
<body ng-app="index" ng-controller="NavCtrl">
    <!-- Header -->
    <header id="header" >
        <div class="inner" >
            <div class="col-lg-12">
                <a href="/index.html" class="logo">introspect</a>
                <nav id="nav" ng-repeat="nav in navLists" >
                    <a class="active" href="{{nav.n_url}}">{{nav.n_name}}</a>
                </nav>
                 <span class="dropdown"  ng-init="judgeIsLogin()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"style="margin-left: 15%;">
                        <img ng-src="{{u_userhead}}" alt="..." class="img-circle" style="width: 40px;height: 40px;border-radius:50%;">
                        <span>{{u_truename}}</span>
                    </a>
                    <div class="dropdown-menu pull-center" style="margin-left: 65%;line-height: 3em;background: rgb(30, 30, 30);width: 120px;overflow: hidden;text-align: center;font-size: 15px;">
                        <a><span  data-toggle="modal" data-target="#myModal" style="cursor: pointer">登&emsp;&emsp;陆</span></a>
                        <a href="index/register"  target="_Blank" style="cursor: pointer">注&emsp;&emsp;册</a>
                        <a href="index/personalCenter"><span style="cursor: pointer">个人中心</span></a>
                        <a><span style="cursor: pointer;margin-right: 25px" ng-click="Sign_out()">退出登陆</span></a>
                    </div>
                 </span>
            </div>
            <!--登陆弹出框-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="text-align: center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #000!important;">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">登&emsp;&emsp;陆</h3>
                        </div>
                        <div class="modal-body" ng-controller="login" style="height: 480px;">
                            <div  class="col-lg-12 col-12 px-sm-5 model">
                                <div  class="col-12 px-sm-5 justify-content-center d-flex align-items-center mh-80 content py-4">
                                    <cc-login _nghost-c4="">
                                        <div  class="mt-5">
                                            <cc-login-password >
                                              <form  class="mt-5" id="modelForm" name="signUpForm" ng-submit="LoginsubmitForm()">
                                                    <div class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_name.$valid}">
                                                        <span style="font-size: 18px;">Username</span>
                                                        <input class="form-control" name="u_uname" id="email" type="text" placeholder="账号"
                                                               ng-model="userdata.u_name" required>
                                                        <p class="inputError" ng-if="signUpForm.u_name.$error.required && signUpForm.u_name.$touched">请输入账号</p>
                                                    </div>
                                                    <div  class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_password.$valid}">
                                                        <span style="font-size: 18px;">Password</span>
                                                        <input class="form-control" name="u_password" id="password" type="password" placeholder="密码"
                                                               ng-model="userdata.u_password" required>
                                                        <p class="inputError" ng-if="signUpForm.u_password.$error.required && signUpForm.u_password.$touched">请输入密码</p>
                                                    </div>
                                                    <div  class="form-group input-group-lg">
                                                        <div class="row">
                                                            <div class="col-lg-5 wram" ng-class="{'has-success':signUpForm.code.$valid}">
                                                                <input class="form-control" name="code" id="yzm" type="text" placeholder="验证码"
                                                                       ng-model="userdata.code" style=" height: 46px;" required>
                                                                <p class="inputError" ng-if="signUpForm.code.$error.required && signUpForm.code.$touched">请输入验证码</p>
                                                            </div>
                                                            <div class="col-lg-6 "><!--src="/user/getImage"-->
                                                                <img id="imageCode" ng-src="/user/getImage"
                                                                     title="看不清，点击换一张" style="cursor: pointer;" ng-click="refreshCheckCode()" width="100%" height="45px"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button  ng-disabled="signUpForm.$invalid" type="submit" class="btn btn-lg btn-block w-100 btn-primary  _300 mt-4 radius d-block text-uppercase">
                                                        <span  translate="">立即登陆</span>
                                                    </button>
                                               </form>
                                            </cc-login-password>
                                        </div>
                                        <div class="mt-3 pb-3 px-0 d-flex flex-wrap justify-content-between">
                                            <div class="row mt3">
                                                <div class="col-lg-12">
                                                    <a class="text-muted _300 text-sm px-0 mr-3"  translate="" href="#" style="color: #9d9d9d">Forgot password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </cc-login>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <!-- Banner -->
    <section id="banner" style="background-image: url(img/banner.jpg)">
        <div class="inner">
            <h1>Introspect: <span>No longer live in the distance<br/> no longer boast of ordinary dreams</span><br/>
                <small style="font-size: 14px;font-weight: 600">不再活在别人凿凿的远方，不再夸耀平常的梦想</small></h1>

            <ul class="actions">
                <li><a href="#" class="button alt">Get Started</a></li>
            </ul>
        </div>
    </section>
    <div ng-init="initAllData()">
        <!-- One -->
        <section class="one" style="padding-top: 2em !important;padding-bottom: 2em !important;background-color: #f3f3f3!important;">
            <div class="inner">
                <header>
                    <h3 style="">旅 行 在 路 上&emsp;<small style="font-size: 13px;">____笑对生活,向阳而生</small>
                       <a href="/index/donkeytripIndex" style="font-size: 14px;color: #ada9a9;margin-left: 70%;position: relative" title="查看更多">
                            <span class="glyphicon glyphicon-circle-arrow-right" style="font-size: 25px;color: #e84040"></span>
                        </a>
                    </h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-3" style="border-radius:5px;"  ng-repeat="listTravelCollection in TravelCollectionList">
                        <div class="thumbnail" style="margin: 0em;padding: 0em;border-radius:5px;">
                            <img ng-src="/{{listTravelCollection.travel_picture_url[0].p_picture_url}}" alt="..."style="padding: 0em !important;margin: 0em !important;border-radius:3px;width: 350px;height: 250px;"/>
                            <div class="caption">
                                <span>{{listTravelCollection.t_title}}</span><p></p>
                                <p  ng-click="readTheAll(list.t_id)" style="cursor: pointer;margin: 0em!important;">
                                    <a href="/donkeytrip/travledetail_jump?t_id={{listTravelCollection.t_id}}">阅读全文</a>
                                </p>
                                <p style="margin: 0em!important;">
                                    <a>
                                    <span class="glyphicon glyphicon-time" style="font-size: 12px;">
                                        {{listTravelCollection.t_create_time | limitTo:10}}</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Three -->
        <section class="one">
            <div class="inner" style="margin-top: 1em;">
                <header>
                    <h3>Laugh at life and live in the sun&emsp;<small style="font-size: 13px;">____笑对生活,向阳而生</small></h3>
                </header>
                <small>
                    <h4 style="color:red"><small>随笔日记</small></h4>
                </small>
                <small ng-repeat="listessayDiariesdata in essayDiariesList">
                    <p class="glyphicon glyphicon-star-empty" style="margin: 0em !important;padding: 0em !important;">
                        <a   href="/essaydiary/essaydiarydetail?e_id={{listessayDiariesdata.e_id}}">《{{listessayDiariesdata.e_title}}》</a>
                    </p>
                    <p ng-bind-html="listessayDiariesdata.e_content|limitTo:150|trusted" style="font-size: 14px;margin: 0em !important;padding: 0em !important;"></p>
                    <p style="font-size: 14px;text-align: right;margin: 0em !important;padding: 0em !important;">
                        标签：{{listessayDiariesdata.essayDiaryType.e_type_name}}&emsp;|
                        发布者：{{listessayDiariesdata.userinfo.u_truename}} &emsp;|
                        阅读量：{{listessayDiariesdata.e_readnumber}}&emsp;|
                        发布时间：{{listessayDiariesdata.e_addtime|limitTo:10}}
                    </p>
                </small>
                <ul class="actions">
                    <li><a href="/index/essaydiaryIndex" class="button alt">Read More</a></li>
                </ul>
            </div>
        </section>
        <!-- Two -->
        <section id="two" style="padding-top: 1em !important;padding-bottom: 1em !important;font-size: 15pt!important;">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
                            <h3>行业资讯
                                <a href="/index/industryInforIndex" style="font-size: 12px;color: #ada9a9;margin-left: 58%;position: relative">
                                    查 看 更 多&emsp;<span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </h3>
                        </header>
                        <div class="row" style="padding: 0em !important;margin: 0em !important;font-size: 14px;"  ng-repeat="listIndustryInfo in IndustryInfoList">
                            <div class="col-sm-8">
                                <a  href="/article/jumpToTheArticleDetailContent?i_id={{listIndustryInfo.i_id}}">
                                    <small ng-bind-html="listIndustryInfo.i_title|limitTo:45|trusted"></small>
                                </a>
                            </div>
                            <div class="col-sm-4" style="text-align: right">
                                <a href="#">
                                    <small>发布时间：{{listIndustryInfo.i_addtime |limitTo:10}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>技术文章&nbsp;<a href="/index/articlesIndex" style="font-size: 12px;color: #ada9a9;margin-left: 58%;position: relative">查看更多
                                &emsp;<span class="glyphicon glyphicon-plus-sign"></span></a>
                            </h3>
                        </header>
                        <div class="row" style="padding: 0em !important;margin: 0em !important;font-size: 14px;" ng-repeat="listtechnologyModule in technologyModulesList">
                            <div class="col-sm-8">
                                <a  href="/article/jumpToTheArticleDetailContent?m_id={{listtechnologyModule.m_id}}">
                                    <li><small>{{listtechnologyModule.m_title|limitTo:45}}</small></li>
                                </a>
                            </div>
                            <div class="col-sm-4" style="text-align: right">
                                <a href="#">
                                <small>发布时间：{{listtechnologyModule.m_datatime |limitTo:10}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <section id="footer" style="text-align: center">
        <small>
            @hhr-个人博客
        </small>
    </section>
</body>
<!--<script type="text/javascript">
    var myPlayer = videojs('my-video');
    videojs("my-video").ready(function(){
        var myPlayer = this;
        myPlayer.play();
    });
</script>-->
</html>