<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--页面描述，用于搜索引擎收录-->
    <meta name="description" content="个人博客---学习与分享两不误"/>
    <!--页面关键词，用于被搜索引擎收录-->
    <meta name="keywords" content="博客，旅游，分享"/>
    <title>博客-随笔日记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css" />
    <link href="../../../css/angular.css" rel="stylesheet">
    <link href="../../../js/wangEditor/wangEditor.min.css" rel="stylesheet">
    <link href="../../../css/pagination.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="../../../js/jquery/jquery1.9.1.min.js"></script>
    <script src="../../../js/angular-js/angular.js"></script>
    <script src="../../../js/angular-js/angular-route.min.js"></script>
    <script src="../../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../../js/wangEditor/wangEditor.min.js"></script>
    <script src="../../../js/angular-js/tm.pagination.min.js"></script>
    <script src="../../../js/functionJS/essaydiary/essaydiary.js"></script>
    <script src="../../../js/bootstrap/skel.min.js"></script>
    <script src="../../../js/bootstrap/util.js"></script>
    <script src="../../../js/bootstrap/main.js"></script>
    <style>
        .modal{
            line-height: 2em;
            text-align: left;
            margin-left: 5%;
        }
        .close{
            height: 1em;
        }
        #one{
            font-size: 15px;
        }
        button{
            background-color: #e67e22 !important;
            /*width: auto !important;*/
        }
        a{
            text-decoration:none;
        }
        .input-medium{
            border-radius:15px !important;
            border: 1px solid #fff !important;
        }
        .search{
            border-radius:15px ;
            background-color:#e67e22;
            color: #fff;

        }
        #one{
            padding-top: 0em !important;
        }
        .search_condition span{
            cursor: pointer;
        }
        .guide{width:60px;margin-left:570px;position:fixed;left:59%;bottom:134px;_position:absolute;display:block;}
        .guide a{display:block;width:60px;height:50px;background:url(../../../img/sprite_v2.png) no-repeat;margin-top:10px;text-decoration:none;font:16px/50px "Microsoft YaHei";text-align:center;color:#fff;border-radius:2px;}
        .guide a span{display:none;text-align:center;}
        .guide a:hover{text-decoration:none;background-color:#39F;color:#fff;}
        .guide a:hover span{display:block;width:60px;background:#39F}
        .guide .top{background-position:-145px -185px;}
    </style>
</head>
<body ng-app="essaydiary" style="background-color: #333">

<!-- Header -->
<header  id="header">
    <div class="inner"  ng-controller="NavCtrl">
        <div class="col-lg-12">
            <a href="index.html" class="logo">introspect</a>
            <nav id="nav" ng-repeat="nav in navLists" >
                <a class="active" href="{{nav.n_url}}" >{{nav.n_name}}</a>
            </nav>
            <span class="dropdown"  ng-init="judgeIsLogin()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"style="margin-left: 15%;">
                    <img ng-src="{{u_userhead}}" alt="..." class="img-circle" style="width: 40px;height: 40px;border-radius:55%;">
                    <span>{{u_truename}}</span>
                </a>
                <div class="dropdown-menu pull-center" style="margin-left: 65%;line-height: 3em;background: rgb(30, 30, 30);width: 120px;overflow: hidden;text-align: center;font-size: 15px;">
                    <a><span  data-toggle="modal" data-target="#myModal" style="cursor: pointer">登&emsp;&emsp;陆</span></a>
                    <a href="/index/register"  target="_Blank" style="cursor: pointer">注&emsp;&emsp;册</a>
                    <a href="/index/personalCenter"><span style="cursor: pointer">个人中心</span></a>
                    <a><span style="cursor: pointer;margin-right: 25px" ng-click="Sign_out()">退出登陆</span></a>
                </div>
             </span>
        </div>
        <!--登陆弹出框-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="text-align: center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #000!important;">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">登&emsp;&emsp;陆</h3>
                    </div>
                    <div class="modal-body" ng-controller="login" style="height: 480px;">
                        <div  class="col-lg-12 col-12 px-sm-5 model">
                            <div  class="col-12 px-sm-5 justify-content-center d-flex align-items-center mh-80 content py-4">
                                <cc-login _nghost-c4="">
                                    <div  class="mt-5">
                                        <cc-login-password >
                                            <form  class="mt-5" id="modelForm" name="signUpForm" ng-submit="LoginsubmitForm()">
                                                <div class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_name.$valid}">
                                                    <span style="font-size: 18px;">Username</span>
                                                    <input class="form-control" name="u_uname" id="email" type="text" placeholder="账号"
                                                           ng-model="userdata.u_name" required>
                                                    <p class="inputError" ng-if="signUpForm.u_name.$error.required && signUpForm.u_name.$touched">请输入账号</p>
                                                </div>
                                                <div  class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_password.$valid}">
                                                    <span style="font-size: 18px;">Password</span>
                                                    <input class="form-control" name="u_password" id="password" type="password" placeholder="密码"
                                                           ng-model="userdata.u_password" required>
                                                    <p class="inputError" ng-if="signUpForm.u_password.$error.required && signUpForm.u_password.$touched">请输入密码</p>
                                                </div>
                                                <div  class="form-group input-group-lg">
                                                    <div class="row">
                                                        <div class="col-lg-5 wram" ng-class="{'has-success':signUpForm.code.$valid}">
                                                            <input class="form-control" name="code" id="yzm" type="text" placeholder="验证码"
                                                                   ng-model="userdata.code" style=" height: 46px;" required>
                                                            <p class="inputError" ng-if="signUpForm.code.$error.required && signUpForm.code.$touched">请输入验证码</p>
                                                        </div>
                                                        <div class="col-lg-6 "><!--src="/user/getImage"-->
                                                            <img id="imageCode" ng-src="/user/getImage"
                                                                 title="看不清，点击换一张" style="cursor: pointer;" ng-click="refreshCheckCode()" width="100%" height="45px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button  ng-disabled="signUpForm.$invalid" type="submit" class="btn btn-lg btn-block w-100 btn-primary  _300 mt-4 radius d-block text-uppercase">
                                                    <span  translate="">立即登陆</span>
                                                </button>
                                            </form>
                                        </cc-login-password>
                                    </div>
                                    <div class="mt-3 pb-3 px-0 d-flex flex-wrap justify-content-between">
                                        <div class="row mt3">
                                            <div class="col-lg-12">
                                                <a class="text-muted _300 text-sm px-0 mr-3"  translate="" href="#" style="color: #9d9d9d">Forgot password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </cc-login>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- One style="background-image: url('../../../img/back.png');background-repeat:no-repeat;
background-size:100% 100%;-moz-background-size:100% 100%;"-->
<section id="one" >
    <div style="background-image: url('../../../img/banner1.jpg');background-repeat:no-repeat;
background-size:100% 100%;-moz-background-size:100% 100%;height: 600px;"></div>
    <div class="container" ng-controller="essaydiaryData" style="margin-top: 1em;">
        <div class="row" style="margin: 0em;padding: 0em;">
            <div class="col-sm-3">
                <h3>随笔日记</h3>
            </div>
            <div class="col-sm-9" style="text-align: right;color: #ffffff">
                <span class="label label-default">排序：</span>&emsp;&emsp;
                <span style="cursor: pointer;" ng-click="moren()">默认</span>&emsp;&emsp;
                <span style="cursor: pointer;" ng-click="Traffic_volume()">根据阅读量</span>&emsp;&emsp;
                <span style="cursor: pointer;" ng-click="updateTime()">根据时间排列</span>&emsp;
                <a href="/essaydiary/publishEssayDiary"><span class="label label-default">发表笔记</span></a>
                <a href="#"><span class="label label-default" ng-click="mySelfDiary()">我的随笔</span></a>
                <a  href="#"><span class="label label-default" ng-click="allfDiary()">全部随笔</span></a>
            </div>
        </div>
        <div class="row" >
            <article class="col-md-3" ng-repeat="listdata in messageDatas" style="position: relative;padding-top: 1em;">
                <div class="box-item" style="background-color: #fff;border-radius: 10px;padding: 1em;height: 600px;">
                    <img ng-src="/{{listdata.e_url}}" class="img-responsive" style="height: 247px;width: 440px;">
                    <div class="content">
                        <h3>
                            <a href="/essaydiary/essaydiarydetail?e_id={{listdata.e_id}}">{{listdata.e_title}}</a>
                        </h3>
                        <p ng-bind-html="listdata.e_content|limitTo:100|trusted " style="font-size: 15px;color: #908a8a"> </p>
                        <a href="/essaydiary/essaydiarydetail?e_id={{listdata.e_id}}">Read More...</a>
                        <br/>
                        <span style="font-size: 15px;color: #bbb">
                            发布者：{{listdata.userinfo.u_truename}} &emsp;|
                            阅读量：{{listdata.e_readnumber}}&emsp;|
                             <span class="glyphicon glyphicon-time"></span>{{listdata.e_addtime|limitTo:10}}</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="row paginations">
            <!--分页插件使用angularjs-->
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</section>
<div class="guide">
    <div class="guide-wrap">
        <a href="#one" class="top" title="回顶部"><span>回顶部</span></a>
    </div>
</div>
<!-- Footer -->
<section id="footer" style="text-align: center">
    <small>
        @hhr-个人博客
    </small>
</section>
</body>
</html>