<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--页面描述，用于搜索引擎收录-->
    <meta name="description" content="个人博客---学习与分享两不误"/>
    <!--页面关键词，用于被搜索引擎收录-->
    <meta name="keywords" content="博客，旅游，分享"/>
    <title>博客-日记详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css" />
    <link href="../../../css/angular.css" rel="stylesheet">
    <link href="../../../js/wangEditor/wangEditor.min.css" rel="stylesheet">
    <link href="../../../css/pagination.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="../../../js/jquery/jquery1.9.1.min.js"></script>
    <script src="../../../js/angular-js/angular.js"></script>
    <script src="../../../js/angular-js/angular-route.min.js"></script>
    <script src="../../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../../js/wangEditor/wangEditor.min.js"></script>
    <script src="../../../js/angular-js/tm.pagination.min.js"></script>
    <script src="../../../js/functionJS/articles/articledetail.js"></script>
    <script src="../../../js/bootstrap/skel.min.js"></script>
    <script src="../../../js/bootstrap/util.js"></script>
    <script src="../../../js/bootstrap/main.js"></script>
    <style>

        .modal{
            line-height: 2em;
            text-align: left;
            margin-left: 5%;
        }
        .close{
            height: 1em;
        }
        #one{
            font-size: 15px;
        }
        button{
            background-color: #e67e22 !important;
            /* width: 20% !important;*/
        }
        .btn{
            /* width: 8% !important;*/
            /* height: 35px !important;*/
        }
        hr{
            /*margin: 1em;*/
        }
        .rows_{
            margin-top: auto;
        }
        .container{
            width: 100% !important;
        }

        .guide{width:60px;margin-left:570px;position:fixed;left:55%;bottom:134px;_position:absolute;display:block;}
        .guide a{display:block;width:60px;height:50px;background:url(../../../img/sprite_v2.png) no-repeat;margin-top:10px;text-decoration:none;font:16px/50px "Microsoft YaHei";text-align:center;color:#fff;border-radius:2px;}
        .guide a span{display:none;text-align:center;}
        .guide a:hover{text-decoration:none;background-color:#39F;color:#fff;}
        .guide a:hover span{display:block;width:60px;background:#39F}
        .guide .top{background-position:-145px -185px;}
    </style>
</head>
<body ng-app="articledetails" style="background-color: #333">

<!-- Header -->
<header id="header">
    <div class="inner"  ng-controller="NavCtrl">
        <div class="col-lg-12">
            <a href="index.html" class="logo">introspect</a>
            <nav id="nav" ng-repeat="nav in navLists" >
                <a class="active" href="{{nav.n_url}}" >{{nav.n_name}}</a>
            </nav>
            <span class="dropdown"  ng-init="judgeIsLogin()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"style="margin-left: 15%;">
                    <img ng-src="{{u_userhead}}" alt="..." class="img-circle" style="width: 40px;height: 40px;border-radius:55%;">
                    <span>{{u_truename}}</span>
                </a>
               <div class="dropdown-menu pull-center" style="margin-left: 65%;line-height: 3em;background: rgb(30, 30, 30);width: 120px;overflow: hidden;text-align: center;font-size: 15px;">
                    <a><span  data-toggle="modal" data-target="#myModal" style="cursor: pointer">登&emsp;&emsp;陆</span></a>
                    <a href="/index/register"  target="_Blank" style="cursor: pointer">注&emsp;&emsp;册</a>
                    <a href="/index/personalCenter"><span style="cursor: pointer">个人中心</span></a>
                    <a><span style="cursor: pointer;margin-right: 25px" ng-click="Sign_out()">退出登陆</span></a>
                </div>
             </span>
        </div>
        <!--登陆弹出框-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="text-align: center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #000!important;">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">登&emsp;&emsp;陆</h3>
                    </div>
                    <div class="modal-body" ng-controller="login" style="height: 480px;">
                        <div  class="col-lg-12 col-12 px-sm-5 model">
                            <div  class="col-12 px-sm-5 justify-content-center d-flex align-items-center mh-80 content py-4">
                                <cc-login _nghost-c4="">
                                    <div  class="mt-5">
                                        <cc-login-password >
                                            <form  class="mt-5" id="modelForm" name="signUpForm" ng-submit="LoginsubmitForm()">
                                                <div class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_name.$valid}">
                                                    <span style="font-size: 18px;">Username</span>
                                                    <input class="form-control" name="u_uname" id="email" type="text" placeholder="账号"
                                                           ng-model="userdata.u_name" required>
                                                    <p class="inputError" ng-if="signUpForm.u_name.$error.required && signUpForm.u_name.$touched">请输入账号</p>
                                                </div>
                                                <div  class="form-group input-group-lg wram" ng-class="{'has-success':signUpForm.u_password.$valid}">
                                                    <span style="font-size: 18px;">Password</span>
                                                    <input class="form-control" name="u_password" id="password" type="password" placeholder="密码"
                                                           ng-model="userdata.u_password" required>
                                                    <p class="inputError" ng-if="signUpForm.u_password.$error.required && signUpForm.u_password.$touched">请输入密码</p>
                                                </div>
                                                <div  class="form-group input-group-lg">
                                                    <div class="row">
                                                        <div class="col-lg-5 wram" ng-class="{'has-success':signUpForm.code.$valid}">
                                                            <input class="form-control" name="code" id="yzm" type="text" placeholder="验证码"
                                                                   ng-model="userdata.code" style=" height: 46px;" required>
                                                            <p class="inputError" ng-if="signUpForm.code.$error.required && signUpForm.code.$touched">请输入验证码</p>
                                                        </div>
                                                        <div class="col-lg-6 "><!--src="/user/getImage"-->
                                                            <img id="imageCode" ng-src="/user/getImage"
                                                                 title="看不清，点击换一张" style="cursor: pointer;" ng-click="refreshCheckCode()" width="100%" height="45px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button  ng-disabled="signUpForm.$invalid" type="submit" class="btn btn-lg btn-block w-100 btn-primary  _300 mt-4 radius d-block text-uppercase">
                                                    <span  translate="">立即登陆</span>
                                                </button>
                                            </form>
                                        </cc-login-password>
                                    </div>
                                    <div class="mt-3 pb-3 px-0 d-flex flex-wrap justify-content-between">
                                        <div class="row mt3">
                                            <div class="col-lg-12">
                                                <a class="text-muted _300 text-sm px-0 mr-3"  translate="" href="#" style="color: #9d9d9d">Forgot password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </cc-login>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- One -->
<section id="one">
    <div class="container" >
        <div class="row" style="color: #ffffff">
            <div class="col-sm-4" style="position: relative;margin-left: 15%;">
                <span class="glyphicon glyphicon-home">技术文章&emsp;<span>/</span>
                &nbsp;</span><span class="glyphicon glyphicon-edit">&emsp;文章详情</span>
            </div>
            <div class="col-sm-4 search_condition" style="text-align: right">
                <a href="/index/articlesIndex" style="color: #ffffff"><span>返回上一页</span></a>
            </div><br/>
            <hr style="border: 1px solid #ccc9c9;width: 68%;position: relative;margin-left: 17%;"/>
        </div>
        <div class="panel panel-default"  ng-controller="articledatas" style="width: 70%;margin-left: 15%">
            <div class="panel-heading">
                <div class="row" style="text-align: left;">
                    <span class="glyphicon glyphicon-bookmark" style="font-size: 15px;"></span>
                    <span style="font-size: 20px;font-weight: 500;">{{m_title}}</span>
                </div>
            </div>
            <div class="panel-body" style="min-height: 480px;padding: 0em !important;margin: 0em !important;" ng-init="getcontentessay()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="media" style="padding: 1em !important;margin: 1em !important;">
                            <div style="font-size: 14px;color: #e67e22">
                                <div class="col-lg-4" style="text-align: left">
                                    <span >发布时间：{{m_datatime | limitTo:10}}</span>

                                </div>
                                <div class="col-lg-4" style="text-align: center">
                                    <span >发布人：{{u_truename}}</span>
                                </div>
                                <div class="col-lg-4" style="text-align: right">
                                    <span>阅读量：({{m_readnum}})</span>&emsp;&emsp;
                                </div>
                            </div><hr style="border: 1px solid #ccc9c9"/>
                            <div style="background-color: #efe7e7">{{m_resources_mode_url}}</div>
                            <div ng-bind-html="m_content|trusted" style=""></div>
                        </div>
                        <div style="border:1px solid #dac8c8;height: 60px;background-color: #e0e6db;padding: 1%;font-size: 17px;">附件下载</div>
                        <div>
                            <div class="media" style="padding: 10px;" ng-repeat="fileList in fileListData">
                                <div class="media-left" style="padding: 0em !important;margin: 0em !important;height: 70px !important;width: 70px!important;">
                                    <a href="#">
                                        <img class="media-object" ng-src="../../../img/zip.png" style="width: 70px;height: 70px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="media-heading">{{fileList.e_filename}}</span><br/>
                                    <p style="margin-top: 1%;color: #9b9a9a">文件于&nbsp;{{m_datatime}}&nbsp;上传
                                        &emsp;&emsp;文件大小：{{fileList.e_filesize}}</p>
                                </div>
                                <div class="media-right">
                                    <button class="btn-sm" style="height:35px;width:80px;margin-top:15px;margin-right:15px;background-color: #ffffff !important;border-radius:5px;border: 1px solid #7b7876">
                                        <a href="/article/dowloadFile?path={{fileList.e_enclosure_url}}" style="color: #4c4c4c">下&emsp;载</a></button>
                                </div>
                                <hr style="border: 1px solid #cac0c0;"/>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<div class="guide">
    <div class="guide-wrap">
        <a href="#" class="top" title="回顶部" ng-click="gotoTop()"><span>回顶部</span></a>
    </div>
</div>
<!-- Footer -->
<section id="footer" style="text-align: center">
    <small>
        @hhr-个人博客
    </small>
</section>
</body>
</html>